<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlgoPlay - Linear Regression</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>AlgoPlay</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Learn</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Linear Regression</h2>
            <div class="file-upload-section">
                <form action="/process-dataset" method="post">
                    <p>Select a dataset:</p>
                    <select name="dataset" id="preloaded-data">
                        <option value="canada-house-price" {% if selected_dataset == 'canada-house-price' %}selected{% endif %}>Canada House Price</option>
                        <option value="laptop-price" {% if selected_dataset == 'laptop-price' %}selected{% endif %}>Laptop Price</option>
                        <option value="customer-behaviour" {% if selected_dataset == 'customer-behaviour' %}selected{% endif %}>Customer Purchasing Behaviour</option>
                    </select>
                    <br><br>
                    <button type="submit">Submit</button>
                </form>
            </div>

            <!-- Display success or error message based on backend response -->
            {% if message %}
                <div id="result">
                    <p>{{ message }}</p>
                </div>
            {% endif %}
        </section>
    </main>
</body>
</html>
